C/HW/HOMEWORK1.c
C/HW/HW2.c
C/HW/HW3.c
C/HW/HW4.c
C/HW/HW5.c
C/HW/HW6.c
C/HW/HW7.c
C/HW/HW8.c
C/HW/HW9.c
C/HW/main (1).c
C/HW/Makefile.asc
C/HW/TGA.c
C/HW/TGA.h
C/HW/translate.h
C/HW/transtalte.c
C/PRED/add.c
C/PRED/add.h
C/PRED/Animace.c
C/PRED/MakeFile
C/PRED/ppp
C/PRED/UPR-PRED2.c
C/PRED/UPR-PRED3.c
C/PROJEKT/test2
C/PROJEKT/test2.c
C/UPR_CV/Array.c
C/UPR_CV/Array.h
C/UPR_CV/fuehded.c
C/UPR_CV/test.c
C/UPR_CV/UPR1-2.c
C/UPR_CV/UPR3.c
C/UPR_CV/UPR4.c
C/UPR_CV/UPR5.c
C/UPR_CV/UPR6.c
C/UPR_CV/UPR7my.c
C/UPR_CV/UPR8.c
C/UPR_CV/UPR9.c
C/ZDS/ZDS1.c
C/ZDS/ZDS2.c
ALG/alg1.cpp
